# PANDUAN: Duplikat file ini menjadi .env lalu isi dengan kredensial Anda!

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=email_anda_disini@gmail.com
SMTP_PASS=16_digit_app_password_anda
SMTP_FROM_NAME="Nama Pengirim"